
*{
    margin: 0px;
    padding: 0px;
}
/* main form container style has two section right and left*/
.form_main{
    background-image: url("images/blue-color-concrete-wall-texture-surface-with-vignette-effect.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


/* left form continer style 
one item
 left section has image section */

.left_section{ 
   
}

.form_image{ 
    width: 95%;
    height: 100vh; 
    border-top-right-radius:50% ;
    border-bottom-right-radius:50% ; 
    border-right: 8px solid blueviolet;
}


/* right continer  has 2 items  
heading , (input conatinaer)  */
.right_section{
display: flex;
flex-direction: column;
justify-content: center;

}

.form_heading{
    color: white;
    max-width: 460px;
    font-size: 38px;
    font-family: sans-serif;         /*heading*/
    font-weight: 500;
    margin-top: 18px; 
}


/* input contaner has 5 section 
inputs 1
inputs 2
choose service 
textarea
and message button*/ 
.input_container{

display: flex;
flex-direction: column; 
}

.input_set{
    display:flex;              /* two input sets has two input each for layout using flexbox */   
}
.inputs{
    width: 280px;
    height: 42px;
    background-color: rgba(255, 255, 255, .3);
    margin-right: 20px;
    border: none;                                               /* total four inputs*/
}
.inputs::placeholder{
    color: white;
    padding: 10px;
}

.service_main{
    max-width: 580px;
    height: 40px;
    background-color: rgba(255, 255, 255, .3);
    border: none;
    color: white;
}

.textarea{
    max-width: 580px;
    background-color: rgba(255, 255, 255, .3);
}
.textarea::placeholder{
    color: white;
    padding: 10px;

}
/* message button has two section text and icon*/
.messeage_button{
   width: 260px;
   height: 52px;
   background-color: white;
   color: black;
   padding: 16px;
   border-radius: 5px; 
   display: flex;
   justify-content: space-between;
}
.button_text{
    font-size: 32px;
}

.messeage_text{

}
.send_icon{
    align-self: center;
    font-size: 24px;
    color: blueviolet;
}

/* media qurey for medium device*/
@media (max-width:768px) {
    .right_section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inputs{
        max-width: 260px;
        height: 38px;
        
    }
    .service_main{
        max-width: 540px;
        height: 40px;
        background-color: rgba(255, 255, 255, .3);
        border: none;
        color: white;
    }
    .textarea{
        max-width: 540px;
        background-color: rgba(255, 255, 255, .3);
    }
    .messeage_button{
        align-self: center;
    }
    
}

/* media qurey for small and below device*/
@media (max-width:576px) {
    
    .inputs{
        max-width: 200px;
        height: 38px;
        
    }
    .service_main{
        max-width: 420px;
        height: 40px;
        background-color: rgba(255, 255, 255, .3);
        border: none;
        color: white;
    }
    .textarea{
        max-width: 420px;
        background-color: rgba(255, 255, 255, .3);
    }
}